{% extends 'base.html'%}

{% block content %}
<div class="forms">
        <h2>Insertion form:</h2>
            <form action="/insert" method="post">
                <input type="text" name="firstname" placeholder="Username" required>
                <input type="text" name="password" placeholder="Password" required>
                <input type=email name="username" placeholder="abc@def.com" pattern=".+@gmail.com"required>
                <input type="submit" value="insert" id="buttons">
            </form>
                {% if message1 %}
                <h3 style="color: grey">{{ message1 }}</h3>
                {% endif %}

            <h2>Update form:</h2>
            <form action="/update" method="post">
                <input type="text" name="firstname" placeholder="Username" required>
                <input type="text" name="password" placeholder="Password" required>
                <input type=email name="username" placeholder="abc@def.com" pattern=".+@gmail.com"required>
                <input type="submit" value="update" id="buttons">
            </form>
                {% if message2 %}
                <h3 style="color: grey" >{{ message2 }}</h3>
                {% endif %}

            <h2>Delete form:</h2>
            <form action="/delete" method="post">
                <input type=email name="username" placeholder="abc@def.com" pattern=".+@gmail.com"required>
                <input type="text" name="password" placeholder="Password" required>
                <input type="submit" value="delete" id="buttons">
            </form>
                    {% if message3 %}
                <h3 style="color: grey">{{ message3 }}</h3>
                {% endif %}

    <h3>All active users:</h3>
        {% for user in users %}
            <h3>firstname: {{ user.firstname }}</h3>
            <h3>username: {{ user.username }}</h3>
            <h3>password: {{ user.password }}</h3>

        {% endfor %}
</div>
{% endblock %}
