{% extends 'base.html' %}
{% include ('assignment4_js_ref.html') %}

{% block content %}
    <br>
       <div class="forms">
        <h1>Frontend Request</h1>
        <form id="frontend_req">
            <label for="User name">ID request:</label>
            <input id="ID" type="number" name="ID" placeholder="ID number" required>
            <button type="button" onclick="fetchUser()" id="buttons"> get details</button>
        </form>

        <h1>Backend Request</h1>
        <form id="backend_req" action="/outer_source/backend_req" method="get">
             <label for="User name">ID request:</label>
            <input type=int id="uID" name="uID" placeholder="ID number" required>
            <input type="submit"  value="get details" id="buttons"/>
        </form>
    </div>

    <div id="frontend_request"></div>
    <br>
    {% if request_data %}
        <h3> {{ request_data.first_name }} {{ request_data.last_name }} </h3>
        <h4> {{ request_data.email }} </h4>
        <img src="{{ request_data.avatar }}" alt="Profile Picture"/>
    {% endif %}
    </div>

{% endblock %}
