<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include('styles.html') %}
    <script defer src="../static/TennisJS.js"></script>
</head>
<body>
    {% include('header.html') %}
    {% block content %}{% endblock %}
    {% block footer %}
        <div class="font-style">
            Copy rights are saved to TennisWorld LTD Incoporated
        </div>
    {% endblock %}
</body>
</html>
