{% extends('base.html') %}

{% block content %}
<page-container class="body">
  <div class="main-container">
    <div class="content-container">
      <div class="jumping-header">
        <h1>Tennis World</h1>
      </div>
      <div class="second-header">
        <h2 id="second-header">The World Has Never Been Brighter</h2>
      </div>
      <div class="content">
        <div class="p" >
          Playing tennis regularly helps the brain release serotonin and endorphins.
          Higher levels of these two neurotransmitters have been shown to decrease stress, anxiety and depression, while positively influencing someone’s mood and sleep.
          <br><br>
          Tennis is a complex sport. It requires quick decision making, critical thinking, and coordination.
          The more a tennis player practices the previous listed skills, the better tennis player they will become.
          Critical thinking and decision making are beneficial qualities for any task we need to tackle in life!
        </div>
        <br>
      </div>
      <div class="bottom">
        <div id="lastrow">To join our tennis community!</div><br>
        <a href="/contact_page">
        <button class="button">Click Here</button>
        </a><br><br>
          <div class="footer">
              <a id="lastrow"> Find us on Apple and Google store</a><br><br>
              <img src="../static/appstore.png" width="90" height="90" id="Image"/>
          </div>
      </div>
    </div>
    <div class="image-container">
      <img id="changeimage" src="../static/tennislogos.jpg" onclick="changeImage()" height="700px" alt="Swaggy Bunny"/>
    </div>
  </div>
</page-container>

{% endblock %}